h1, h2, h3, h4 {
  margin: 0;
}

.section {
  height: 100vh;
  width: 100%;
}

header .hero {
  height: 100%;
  width: 100%;
  position: relative;
}
header .hero .hero-all-content {
  animation: transitionIn 1s ease-in-out;
}
@keyframes transitionIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
header .hero nav .content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .hero nav img {
  padding: 10px;
  width: 80px;
}
header .hero nav .nav-right {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .hero nav .nav-right .nav-info {
  line-height: 3px;
  text-align: right;
}
header .hero nav .nav-right .nav-info p {
  font-size: 15px;
  color: #a42138;
}
header .hero nav .nav-right i {
  font-size: 2rem;
}
header .hero-content {
  color: #3c3b3b;
  border: 1px solid green;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .hero-content h1 {
  font-size: 5rem;
  margin: 0;
}
header .hero-content .hero-subtitle {
  display: flex;
}
header .hero-content .hero-subtitle h2 {
  color: #a42138;
}
header .hero-arrow {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  padding-bottom: 2rem;
}

.hero::before {
  content: "";
  background-image: url(../img/mainwallpaper.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.2;
}

.about-section {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #a42138;
  overflow: hidden;
}
.about-section .bubble-effect-images img {
  position: absolute;
  bottom: -5%;
  width: 150px;
  opacity: 0;
  animation: bubble 15s linear infinite;
}
.about-section .bubble-effect-images .faro-image {
  left: -15%;
  animation-delay: 1s;
}
.about-section .bubble-effect-images .brujula-image {
  left: 15%;
  animation-delay: 5s;
}
.about-section .bubble-effect-images .marinero-image {
  left: 35%;
  animation-delay: 10s;
}
.about-section .bubble-effect-images .elice-image {
  left: 60%;
  animation-delay: 15s;
}
.about-section .bubble-effect-images .ancla-image {
  left: 80%;
  animation-delay: 20s;
}
@keyframes bubble {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    bottom: 100vh;
  }
}
.about-section .about-content {
  position: absolute;
  top: -10%;
  max-width: 800px;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  line-height: 30px;
}
.about-section .about-content h4 {
  color: white;
}
.about-section .about-content .about-aside-text {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem;
  text-align: right;
  line-height: 20px;
}
.about-section .about-content .about-aside-text p {
  margin: 0;
}
.about-section .about-content .about-aside-text p:last-child {
  color: white;
}
.about-section .reveal {
  transform: translateX(150px);
  opacity: 0;
  transition: all 2s ease;
}
.about-section .reveal.active {
  transform: translateX(0);
  opacity: 1;
}

.servicios-section {
  height: 100%;
  width: 100%;
}
.servicios-section .servicios-content {
  height: 80%;
}
.servicios-section .servicios-content h1 {
  margin: 10px 10px;
  color: #a42138;
  font-size: 50px;
}
.servicios-section .servicios-content .servicios-list {
  padding: 0.5rem;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.servicios-section .servicios-content .servicios-list .servicio-group {
  overflow: hidden;
}
.servicios-section .servicios-content .servicios-list .servicio-group img {
  width: 100%;
}

.interes-section {
  height: 100%;
  display: flex;
  align-items: center;
}
.interes-section .interes-content a {
  font-size: 30px;
  color: #3c3b3b;
  text-decoration: none;
}
.interes-section .interes-content a:nth-child(1) {
  color: #a42138;
}
.interes-section .interes-content a:hover {
  color: #a42138;
  text-decoration: underline;
}

.contacto-section {
  background-color: #025694;
  height: 100%;
  overflow: hidden;
}
.contacto-section .contacto-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  color: white;
  opacity: 0;
  animation: transitionIn 2s linear;
}
.contacto-section .contacto-content .contacto-title {
  line-height: 1px;
}
.contacto-section .contacto-content .form-content {
  padding: 25px 0 5px 0;
}
.contacto-section .contacto-content .form-content .form-group {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-bottom: 15px;
}
.contacto-section .contacto-content .form-content .form-group input, .contacto-section .contacto-content .form-content .form-group textarea {
  background-color: transparent;
  border-bottom: white 1px solid;
  border-top: none;
  border-right: none;
  border-left: none;
}
.contacto-section .contacto-content .form-content .form-group textarea {
  height: 80px;
}
.contacto-section .contacto-content .form-content .form-button-container {
  width: 100%;
  display: flex;
  justify-content: right;
}
.contacto-section .contacto-content .form-content .form-button-container img {
  width: 50px;
}
.contacto-section .contacto-content .form-content .form-button-container button {
  margin: 10px 0 10px 0;
  color: white;
  border: none;
  background-color: #025694;
}
.contacto-section .contacto-content .aside-content {
  font-size: 14px;
  line-height: 10px;
}
.contacto-section .contacto-content .aside-content .info-group {
  width: 100%;
  display: flex;
  align-items: center;
}
.contacto-section .contacto-content .aside-content .telefono-group {
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-items: flex-start;
}
.contacto-section .contacto-content .aside-content .telefono-group h4 {
  display: none;
}
.contacto-section .contacto-content .aside-content .ubicacion-group h4 {
  display: none;
}
.contacto-section .contacto-content .aside-content .ubicacion-group p {
  margin-right: 1px;
}
.contacto-section .reveal {
  transform: translateX(150px);
  opacity: 0;
  transition: all 2s ease;
}
.contacto-section .reveal.active {
  transform: translateX(0);
  opacity: 1;
}

footer {
  position: relative;
  height: 100%;
  background-color: #a42138;
}
footer p, footer a {
  font-weight: 100;
  color: white;
}
footer .footer-content {
  height: 100%;
  padding: 0 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
footer .footer-content .contact-info-side {
  text-align: center;
  border-bottom: 2px solid white;
  padding: 10px 0;
  margin-bottom: 20px;
}
footer .footer-content .contact-info-side span {
  font-weight: 100;
  font-size: 13px;
}
footer .footer-content .links-side .logo-footer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
footer .footer-content .links-side .logo-footer img {
  width: 150px;
}
footer .footer-content .links-side .links-footer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
footer .footer-content .links-side .links-footer h4 {
  font-weight: 600;
}
footer .footer-content .links-side .links-footer a {
  text-decoration: none;
}
footer .footer-content .links-side .links-footer .menu-side-footer h4, footer .footer-content .links-side .links-footer .herramientas-side-footer h4 {
  margin-bottom: 12px;
}
footer .copyright-side {
  width: 100%;
  background-color: white;
  padding: 0.2rem 1rem;
}
footer .copyright-side p {
  font-size: 13px;
  color: #3c3b3b;
  margin: 0;
}
footer .copyright-side .mm-logo {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  gap: 5px;
}
footer .copyright-side .mm-logo img {
  width: 50px;
}

@media screen and (min-width: 481px) {
  .about-section .bubble-effect-images img {
    width: 250px;
  }
  .about-section .about-content {
    font-size: 30px;
    line-height: normal;
  }
  .about-section .about-content .about-aside-text {
    line-height: normal;
  }
  .about-section .about-content .about-aside-text p {
    margin: 0;
  }
  .about-section .about-content .about-aside-text p:last-child {
    color: white;
  }
}

/*# sourceMappingURL=style.css.map */
