h1, h2, h3, h4 {
  margin: 0;
}

.section {
  height: 100vh;
  width: 100%;
}

.hidden-section-active {
  display: none;
}

header {
  z-index: 9998;
  transition: 0.9s;
}
header nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9998;
  transition: 0.7s;
}
header nav .content {
  width: 90%;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.7s;
}
header nav img {
  transition: 0.7s;
  width: 80px;
  cursor: pointer;
}
header nav .nav-right {
  transition: 0.7s;
  display: flex;
  align-items: center;
  gap: 10px;
  overflow: hidden;
}
header nav .nav-right .nav-info {
  line-height: 3px;
  text-align: right;
}
header nav .nav-right .nav-info p {
  font-size: 15px;
  color: #a42138;
}
header nav .nav-right .menu-icon {
  width: 50px;
}
header nav .nav-right .menu-icon:hover {
  cursor: pointer;
}
header .nav-down {
  background-color: white;
  padding: 5px 0;
}
header .nav-down img {
  width: 75px;
}
header .nav-down .nav-right .nav-info p {
  font-size: 13px;
  color: #a42138;
}
header .nav-down .nav-right .menu-icon {
  width: 40px;
}
header .nav-down .nav-right .menu-icon:hover {
  cursor: pointer;
}
header .nav-disabled {
  top: -120px;
}
header .hero {
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url(../img/FLORES-LUIS-AGOSTO-2021-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
header .hero .hero-menu {
  z-index: 9999;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  display: none;
  text-align: right;
}
header .hero .hero-menu .menu-container {
  width: 100%;
  animation: transitionIn 0.5s ease-in-out;
  width: 100%;
}
@keyframes transitionIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
header .hero .hero-menu .menu-container ul {
  list-style: none;
}
header .hero .hero-menu .menu-container ul li {
  transition: all ease-in 0.3s;
  font-size: 40px;
  margin-bottom: 15px;
  cursor: pointer;
}
header .hero .hero-menu .menu-container ul a {
  text-decoration: none;
  font-weight: 500;
  color: #3c3b3b;
  transition: all ease-in 0.1s;
}
header .hero .hero-menu .menu-container ul a:hover {
  color: #a42138;
}
header .hero .menu-active {
  display: flex;
  align-items: center;
}
header .hero .menu-active .menu-container {
  display: flex;
  justify-content: flex-end;
}
header .hero .hero-all-content {
  animation: transitionIn 0.5s ease-in-out;
}
@keyframes transitionIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
header .hero .hero-all-content .hero-content {
  user-select: none;
  color: #3c3b3b;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 50px;
}
header .hero .hero-all-content .hero-content h1 {
  font-size: 5rem;
  margin: 0;
}
header .hero .hero-all-content .hero-content .hero-subtitle {
  display: flex;
}
header .hero .hero-all-content .hero-content .hero-subtitle h2 {
  color: #a42138;
  font-size: 30px;
}
header .hero .hero-all-content .hero-arrow {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  padding-bottom: 1rem;
}
header .hero .hero-all-content .hero-arrow img {
  cursor: pointer;
  width: 40px;
}
header .menu-active-background::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.2;
  transition: all ease 0.7s;
}
header .menu-mode {
  display: none;
}

/*.hero::before {
    content: "";
    background-image: url(../img/mainwallpaper.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.2; 
}*/
.about-section {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #a42138;
  overflow: hidden;
}
.about-section .bubble-effect-images img {
  position: absolute;
  bottom: -5%;
  width: 150px;
  opacity: 0;
  animation: bubble 15s linear infinite;
}
.about-section .bubble-effect-images .faro-image {
  left: -15%;
  animation-delay: 1s;
}
.about-section .bubble-effect-images .brujula-image {
  left: 15%;
  animation-delay: 5s;
}
.about-section .bubble-effect-images .marinero-image {
  left: 35%;
  animation-delay: 10s;
}
.about-section .bubble-effect-images .elice-image {
  left: 60%;
  animation-delay: 15s;
}
.about-section .bubble-effect-images .ancla-image {
  left: 80%;
  animation-delay: 20s;
}
@keyframes bubble {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    bottom: 100vh;
  }
}
.about-section .about-content {
  position: absolute;
  top: -10%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  line-height: 30px;
}
.about-section .about-content h4 {
  color: white;
}
.about-section .about-content .about-aside-text {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem;
  text-align: right;
  line-height: 20px;
}
.about-section .about-content .about-aside-text p {
  margin: 0;
}
.about-section .about-content .about-aside-text p:last-child {
  color: white;
}
.about-section .reveal {
  transform: translateX(150px);
  opacity: 0;
  transition: all 2s ease;
}
.about-section .reveal.active {
  transform: translateX(0);
  opacity: 1;
}
.about-section .hero-arrow {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  padding-bottom: 1rem;
}
.about-section .hero-arrow img {
  cursor: pointer;
  width: 40px;
  color: white;
}

.servicios-section {
  position: relative;
}
.servicios-section .servicios-content {
  margin: 0 auto;
  padding: 8rem 1rem 0 1rem;
}
.servicios-section .servicios-content h1 {
  color: #a42138;
  font-size: 60px;
  margin: 0;
}
.servicios-section .servicios-content .servicios-list {
  margin: 0 auto;
}
.servicios-section .servicios-content .servicios-list .row-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15vw;
}
.servicios-section .servicios-content .servicios-list .row-1 .servicio-group:nth-child(1) {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  /*.servicio-img-container:after {
      content: '\A';
      position: absolute;
      width: 100%;
      height:100%;
      top: 0;
      left:0;
      background:rgba(0,0,0,0.6);
      opacity: 1;
      transition: all 1s;
      -webkit-transition: all 1s;
  }*/
}
.servicios-section .servicios-content .servicios-list .row-1 .servicio-group:nth-child(1) img {
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: tranlsate(-50%);
}
.servicios-section .servicios-content .servicios-list .row-1 .servicio-group:nth-child(1) h1 {
  position: absolute;
  top: 100px;
  z-index: -1;
}
.servicios-section .servicios-content .servicios-list .row-1 .servicio-group:nth-child(2) {
  position: relative;
  width: 100%;
  height: 250px;
  justify-content: center;
}
.servicios-section .servicios-content .servicios-list .row-1 .servicio-group:nth-child(2) .overlay .content {
  font-size: 50px;
}
.servicios-section .servicios-content .servicios-list .row-1 .servicio-group:nth-child(2) img {
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.servicios-section .servicios-content .servicios-list .row-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2vw;
}
.servicios-section .servicios-content .servicios-list .row-2 .servicio-group:nth-child(1) {
  position: relative;
  width: 100%;
  height: 100%;
}
.servicios-section .servicios-content .servicios-list .row-2 .servicio-group:nth-child(1) .overlay .content {
  font-size: 50px;
}
.servicios-section .servicios-content .servicios-list .row-2 .servicio-group:nth-child(1) img {
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  height: 250px;
  object-fit: cover;
  transform: tranlsate(-50%);
}
.servicios-section .servicios-content .servicios-list .row-2 .servicio-group:nth-child(2) {
  position: relative;
  width: 100%;
  height: 100%;
}
.servicios-section .servicios-content .servicios-list .row-2 .servicio-group:nth-child(2) img {
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.servicios-section .servicios-content .servicios-list .servicio-group {
  display: flex;
  flex-direction: column;
}
.servicios-section .servicios-content .servicios-list .servicio-group img {
  opacity: 1;
  cursor: pointer;
  position: relative;
  vertical-align: top;
  transition: all 0.5s;
}
.servicios-section .servicios-content .servicios-list .servicio-group .overlay {
  display: none;
  opacity: 0;
  transition: all 0.7s;
}
.servicios-section .servicios-content .servicios-list .servicio-group .overlay .content {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: #a42138;
  font-size: 70px;
  cursor: pointer;
  opacity: 1;
  overflow: hidden;
}
.servicios-section .servicios-content .servicios-list .servicio-group .overlay .content p {
  margin: 0;
  padding: 0;
}
.servicios-section .servicios-content .servicios-list .servicio-group .servicio-info h4 {
  color: #a42138;
  font-size: 15px;
}
.servicios-section .servicios-content .servicios-list .servicio-group .servicio-info p {
  margin-top: 5px;
  color: #3c3b3b;
  font-size: 15px;
}
.servicios-section .servicios-content .servicios-list .servicio-group:hover .servicio-img {
  opacity: 0.7;
}
.servicios-section .servicios-content .servicios-list .servicio-group:hover .overlay {
  opacity: 1;
}
.servicios-section .hero-arrow {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  padding-top: 5rem;
}
.servicios-section .hero-arrow img {
  cursor: pointer;
  width: 40px;
}

.interes-section {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}
.interes-section .interes-content {
  position: relative;
  padding: 0 0.5rem;
}
.interes-section .interes-content a {
  font-size: 35px;
  color: #3c3b3b;
  text-decoration: none;
}
.interes-section .interes-content a:nth-child(1) {
  color: #a42138;
}
.interes-section .interes-content a:hover {
  color: #a42138;
  text-decoration: underline;
}
.interes-section .hero-arrow {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  padding-bottom: 1rem;
}
.interes-section .hero-arrow img {
  cursor: pointer;
  width: 40px;
}

.contacto-section {
  position: relative;
  background-color: white;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
}
.contacto-section .contacto-container {
  height: 82%;
  width: 100%;
  background-color: #025694;
}
.contacto-section .contacto-container .contacto-content {
  margin: 0 auto;
  padding: 0.2rem 1rem;
  color: white;
  opacity: 0;
  animation: transitionIn 2s linear;
}
.contacto-section .contacto-container .contacto-content .form-content {
  padding: 20px 0 0 0;
}
.contacto-section .contacto-container .contacto-content .form-content .form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 15px;
}
.contacto-section .contacto-container .contacto-content .form-content .form-group label {
  font-weight: 100;
}
.contacto-section .contacto-container .contacto-content .form-content .form-group input, .contacto-section .contacto-container .contacto-content .form-content .form-group textarea {
  background-color: transparent;
  border-bottom: white 1px solid;
  border-top: none;
  border-right: none;
  border-left: none;
  color: white;
}
.contacto-section .contacto-container .contacto-content .form-content .form-group textarea {
  height: 50px;
  font-size: 17px;
}
.contacto-section .contacto-container .contacto-content .form-content .form-group input:focus, .contacto-section .contacto-container .contacto-content .form-content .form-group textarea:focus {
  outline: none;
}
.contacto-section .contacto-container .contacto-content .form-content .form-button-container {
  width: 100%;
  display: flex;
  justify-content: right;
}
.contacto-section .contacto-container .contacto-content .form-content .form-button-container img {
  width: 50px;
}
.contacto-section .contacto-container .contacto-content .form-content .form-button-container button {
  margin: 10px 0 10px 0;
  color: white;
  border: none;
  background-color: #025694;
}
.contacto-section .contacto-container .contacto-content .aside-content {
  font-size: 17px;
  line-height: 5px;
}
.contacto-section .contacto-container .contacto-content .aside-content .info-group {
  width: 100%;
  display: flex;
}
.contacto-section .contacto-container .contacto-content .aside-content .info-group h4 {
  display: none;
}
.contacto-section .contacto-container .contacto-content .aside-content .info-group span {
  font-weight: 500;
  font-size: 17px;
}
.contacto-section .contacto-container .contacto-content .aside-content .info-group p {
  font-size: 17px;
}
.contacto-section .contacto-container .contacto-content .aside-content .info-group a {
  text-decoration: none;
  line-height: 25px;
  font-size: 20px;
  color: white;
}
.contacto-section .contacto-container .contacto-content .aside-content .info-group .big-screen-info {
  display: none;
}
.contacto-section .contacto-container .contacto-content .aside-content .telefono-group {
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-items: flex-start;
}
.contacto-section .contacto-container .contacto-content .aside-content .ubicacion-group .ubicacion-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  line-height: 11px;
}
.contacto-section .contacto-container .contacto-content .aside-content .ubicacion-group p {
  margin: 7px 5px 0 0;
}
.contacto-section .contacto-container .contacto-content .aside-content .ubicacion-group .localidad-group {
  display: flex;
}
.contacto-section .reveal {
  transform: translateX(150px);
  opacity: 0;
  transition: all 1s ease;
}
.contacto-section .reveal.active {
  transform: translateX(0);
  opacity: 1;
}
.contacto-section .hero-arrow {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  padding-bottom: 1rem;
}
.contacto-section .hero-arrow img {
  cursor: pointer;
  width: 40px;
}

.contacto-title {
  position: absolute;
  top: 100px;
  left: 0;
  padding: 0 1rem;
  color: #025694;
  line-height: 35px;
}
.contacto-title p {
  font-size: 10px;
  margin: 0;
}
.contacto-title h1 {
  margin: 0;
  font-size: 60px;
}

footer {
  position: relative;
  height: 100%;
  background-color: #a42138;
  overflow: hidden;
}
footer p, footer a {
  font-weight: 100;
  color: white;
}
footer .footer-content {
  height: 100%;
  padding: 0 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
footer .footer-content .contact-info-side {
  text-align: center;
  border-bottom: 2px solid white;
  padding: 10px 0;
  margin-bottom: 20px;
}
footer .footer-content .contact-info-side span {
  font-weight: 100;
  font-size: 13px;
}
footer .footer-content .contact-info-side img {
  display: none;
}
footer .footer-content .links-side .logo-footer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
footer .footer-content .links-side .logo-footer img {
  width: 150px;
}
footer .footer-content .links-side .links-footer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
footer .footer-content .links-side .links-footer h4 {
  font-weight: 600;
}
footer .footer-content .links-side .links-footer a {
  text-decoration: none;
}
footer .footer-content .links-side .links-footer .side-footer {
  line-height: 28px;
}
footer .footer-content .links-side .links-footer .side-footer p {
  margin: 0;
}
footer .footer-content .links-side .links-footer .multipar-side-footer h4, footer .footer-content .links-side .links-footer .menu-side-footer h4, footer .footer-content .links-side .links-footer .herramientas-side-footer h4 {
  margin-bottom: 12px;
}
footer .footer-content .arrow-up-container {
  background-color: #a42138;
  padding: 0.4rem;
  position: fixed;
  bottom: 5%;
  right: -50%;
  transition: all 0.5s;
}
footer .footer-content .arrow-up-container img {
  width: 40px;
}
footer .footer-content .arrow-up-active {
  right: 5%;
}
footer .copyright-side {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 0.2rem 1rem;
}
footer .copyright-side .copyright-container {
  width: 100%;
}
footer .copyright-side .copyright-container p {
  font-size: 13px;
  color: #3c3b3b;
  margin: 0;
}
footer .copyright-side .copyright-container .mm-logo {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  gap: 5px;
  margin-right: 20px;
}
footer .copyright-side .copyright-container .mm-logo img {
  width: 50px;
}

@media screen and (min-width: 390px) {
  .contacto-section .contacto-container .contacto-content .aside-content {
    font-size: 17px;
    line-height: 10px;
  }
  .contacto-section .contacto-container .contacto-content .aside-content .info-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
  }
  .contacto-section .contacto-container .contacto-content .aside-content .info-group h4 {
    display: none;
  }
  .contacto-section .contacto-container .contacto-content .aside-content .info-group span {
    font-weight: 500;
  }
  .contacto-section .contacto-container .contacto-content .aside-content .info-group p {
    font-size: 20px;
  }
  .contacto-section .contacto-container .contacto-content .aside-content .info-group a {
    line-height: 35px;
  }
  .contacto-section .contacto-container .contacto-content .aside-content .telefono-group {
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
  }
  .contacto-section .contacto-container .contacto-content .aside-content .ubicacion-group .ubicacion-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    line-height: 11px;
  }
  .contacto-section .contacto-container .contacto-content .aside-content .ubicacion-group p {
    margin: 10px 5px 0 0;
  }
  .contacto-section .contacto-container .contacto-content .aside-content .ubicacion-group .localidad-group {
    display: flex;
  }
}
@media screen and (min-width: 481px) {
  header .hero .hero-all-content .hero-content {
    line-height: 65px;
  }
  header .hero .hero-all-content .hero-content h1 {
    font-size: 100px;
  }
  header .hero .hero-all-content .hero-content .hero-subtitle h2 {
    font-size: 40px;
  }
  .about-section .bubble-effect-images img {
    width: 250px;
  }
  .about-section .about-content {
    font-size: 30px;
    line-height: normal;
  }
  .about-section .about-content .about-aside-text {
    line-height: normal;
  }
  .about-section .about-content .about-aside-text p {
    margin: 0;
  }
  .about-section .about-content .about-aside-text p:last-child {
    color: white;
  }
  .contacto-section .contacto-content .form-content label {
    font-size: 20px;
  }
  .contacto-section .contacto-content .form-content input {
    font-size: 20px;
  }
  .contacto-section .contacto-content .aside-content {
    font-size: 20px;
    line-height: normal;
  }
  .contacto-section .contacto-content .aside-content .info-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .contacto-section .contacto-content .aside-content .info-group h4 {
    font-size: 27px;
    font-weight: 500;
    margin: 15px 0;
  }
  .contacto-section .contacto-content .aside-content .info-group p {
    margin: 0;
  }
  .contacto-section .contacto-content .aside-content .email-group h4 {
    font-size: 27px;
    font-weight: 500;
    margin: 15px 0;
  }
  .contacto-section .contacto-content .aside-content .telefono-group {
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
  }
  .contacto-section .contacto-content .aside-content .telefono-group h4 {
    font-size: 27px;
    font-weight: 500;
    margin: 15px 0;
  }
  .contacto-section .contacto-content .aside-content .telefono-group p {
    margin: 0;
  }
  .contacto-section .contacto-content .aside-content .ubicacion-group h4 {
    font-size: 28px;
    font-weight: 500;
    margin: 15px 0;
  }
  .contacto-section .contacto-content .aside-content .ubicacion-group p {
    margin: 0;
    margin-right: 1px;
  }
  .copyright-side {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 0.2rem 1rem;
  }
  .copyright-side .copyright-container {
    width: 100%;
  }
  .copyright-side .copyright-container p {
    font-size: 25px;
    color: #3c3b3b;
    margin: 0;
  }
  .copyright-side .copyright-container .mm-logo {
    display: flex;
    justify-content: right;
    align-items: flex-end;
    gap: 5px;
    margin-right: 20px;
  }
  .copyright-side .copyright-container .mm-logo p {
    font-size: 20px;
  }
  .copyright-side .copyright-container .mm-logo img {
    width: 50px;
  }
}
@media screen and (min-width: 768px) {
  header nav img {
    width: 200px;
  }
  header nav .nav-right {
    gap: 40px;
  }
  header nav .nav-right .nav-info p {
    font-size: 30px;
  }
  header nav .nav-right .menu-icon {
    width: 80px;
  }
  header .nav-down {
    background-color: white;
    padding: 5px 0;
  }
  header .nav-down img {
    width: 180px;
  }
  header .nav-down .nav-right .nav-info p {
    font-size: 25px;
    color: #a42138;
  }
  header .nav-down .nav-right .menu-icon {
    width: 70px;
  }
  header .nav-down .nav-right .menu-icon:hover {
    cursor: pointer;
  }
  header .hero .hero-menu {
    z-index: 9999;
    height: 100%;
    display: none;
    text-align: right;
  }
  header .hero .hero-menu .menu-container ul li {
    transition: all ease-in 0.3s;
    font-size: 70px;
    margin-bottom: 15px;
    cursor: pointer;
  }
  header .hero .hero-menu .menu-container ul a {
    text-decoration: none;
    font-weight: 500;
    color: #3c3b3b;
    transition: all ease-in 0.1s;
  }
  header .hero .menu-active {
    display: flex;
  }
  header .hero .menu-active .menu-container {
    display: flex;
  }
  header .hero .hero-all-content .hero-content {
    line-height: 90px;
  }
  header .hero .hero-all-content .hero-content h1 {
    font-size: 150px;
  }
  header .hero .hero-all-content .hero-content .hero-subtitle h2 {
    font-size: 50px;
  }
  .interes-section {
    width: 100%;
    height: 100%;
  }
  .interes-section .interes-content {
    margin: 0 auto;
  }
  .interes-section .interes-content a {
    font-size: 60px;
    color: #3c3b3b;
    text-decoration: none;
  }
  .interes-section .interes-content a:nth-child(1) {
    color: #a42138;
  }
  .interes-section .interes-content a:hover {
    color: #a42138;
    text-decoration: underline;
  }
  .contacto-section .contacto-container .contacto-content .form-content label {
    font-size: 25px;
  }
  .contacto-section .contacto-container .contacto-content .form-content input {
    font-size: 20px;
    height: 40px;
  }
  .contacto-section .contacto-container .contacto-content .form-content .form-button-container img {
    width: 100px;
  }
  .contacto-section .contacto-container .contacto-content .form-content .form-button-container button {
    margin: 10px 0 10px 0;
    color: white;
    border: none;
    background-color: #025694;
    font-size: 30px;
  }
  .contacto-section .contacto-container .contacto-content .aside-content {
    line-height: normal;
    font-size: 28px;
  }
  .contacto-section .contacto-container .contacto-content .aside-content .info-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .contacto-section .contacto-container .contacto-content .aside-content .info-group h4 {
    font-size: 35px;
    font-weight: 500;
    margin: 15px 0;
  }
  .contacto-section .contacto-container .contacto-content .aside-content .info-group p {
    margin: 0;
    font-size: 25px;
  }
  .contacto-section .contacto-container .contacto-content .aside-content .info-group a {
    line-height: 35px;
    font-size: 25px;
  }
  .contacto-section .contacto-container .contacto-content .aside-content .info-group span {
    font-size: 25px;
  }
  .contacto-section .contacto-container .contacto-content .aside-content .telefono-group {
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
  }
  .contacto-section .contacto-container .contacto-content .aside-content .telefono-group h4 {
    font-size: 30px;
    font-weight: 500;
    margin: 15px 0;
  }
  .contacto-section .contacto-container .contacto-content .aside-content .telefono-group p {
    margin: 0;
  }
  .contacto-section .contacto-container .contacto-content .aside-content .ubicacion-group {
    display: flex;
  }
  .contacto-section .contacto-container .contacto-content .aside-content .ubicacion-group h4 {
    font-size: 30px;
    font-weight: 500;
    margin: 10px 0;
  }
  .contacto-section .contacto-container .contacto-content .aside-content .ubicacion-group p {
    margin: 0;
    margin-right: 1px;
  }
  .contacto-section .contacto-container .contacto-content .aside-content .ubicacion-group .ubicacion-info {
    display: flex;
    flex-direction: row;
    gap: 5px;
    line-height: normal;
  }
  .contacto-title {
    position: absolute;
    top: 220px;
    left: 0;
    padding: 0 1rem;
    color: #025694;
    line-height: 70px;
  }
  .contacto-title p {
    font-size: 25px;
    margin: 0;
  }
  .contacto-title h1 {
    margin: 0;
    font-size: 150px;
  }
  footer .footer-content {
    height: 100%;
    padding: 0 1rem;
    color: white;
    display: flex;
    flex-direction: column;
  }
  footer .footer-content .contact-info-side {
    text-align: left;
    border-bottom: 2px solid white;
    padding: 20px 0;
    margin-bottom: 30px;
  }
  footer .footer-content .contact-info-side span {
    font-weight: 100;
    font-size: 20px;
  }
  footer .footer-content .contact-info-side h3 {
    font-size: 30px;
  }
  footer .footer-content .links-side .logo-footer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  footer .footer-content .links-side .logo-footer img {
    width: 200px;
  }
  footer .footer-content .links-side .links-footer {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  footer .footer-content .links-side .links-footer h4 {
    font-weight: 600;
    font-size: 40px;
  }
  footer .footer-content .links-side .links-footer p {
    text-decoration: none;
    font-size: 25px;
  }
  footer .footer-content .links-side .links-footer a {
    text-decoration: none;
    font-size: 30px;
  }
  footer .footer-content .links-side .links-footer .menu-side-footer h4, footer .footer-content .links-side .links-footer .herramientas-side-footer h4 {
    margin-bottom: 12px;
  }
}
@media screen and (min-width: 768px) {
  header .hero .hero-all-content .hero-content {
    line-height: 115px;
  }
  header .hero .hero-all-content .hero-content h1 {
    font-size: 200px;
  }
  header .hero .hero-all-content .hero-content .hero-subtitle h2 {
    font-size: 60px;
  }
  .about-section {
    display: flex;
    justify-content: center;
  }
  .about-section .bubble-effect-images {
    width: 100%;
  }
  .about-section .bubble-effect-images img {
    width: 280px;
  }
  .about-section .about-content {
    text-align: left;
    font-size: 35px;
    line-height: normal;
  }
  .about-section .about-content h4 {
    width: 70%;
  }
  .about-section .about-content span {
    color: black;
  }
  .about-section .about-content .about-aside-text {
    line-height: normal;
  }
  .about-section .about-content .about-aside-text p {
    margin: 0;
  }
  .about-section .about-content .about-aside-text p:last-child {
    color: white;
  }
  .servicios-section .servicios-content {
    margin: 0 auto;
    padding: 0 1rem;
  }
  .servicios-section .servicios-content h1 {
    color: #a42138;
    font-size: 50px;
    margin: 0;
  }
  .servicios-section .servicios-content .servicios-list {
    margin: 0 auto;
  }
  .servicios-section .servicios-content .servicios-list .row-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2vw;
  }
  .servicios-section .servicios-content .servicios-list .row-1 .servicio-group {
    overflow: hidden;
  }
  .servicios-section .servicios-content .servicios-list .row-1 .servicio-group:nth-child(1) {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 55%;
    height: 700px;
    /*.servicio-img-container:after {
        content: '\A';
        position: absolute;
        width: 100%;
        height:100%;
        top: 0;
        left:0;
        background:rgba(0,0,0,0.6);
        opacity: 1;
        transition: all 1s;
        -webkit-transition: all 1s;
    }*/
  }
  .servicios-section .servicios-content .servicios-list .row-1 .servicio-group:nth-child(1) img {
    min-width: 100%;
    width: 100%;
    height: 70%;
    object-fit: cover;
    transform: tranlsate(-50%);
  }
  .servicios-section .servicios-content .servicios-list .row-1 .servicio-group:nth-child(1) h1 {
    position: absolute;
    top: 100px;
    z-index: -1;
  }
  .servicios-section .servicios-content .servicios-list .row-1 .servicio-group:nth-child(2) {
    width: 30%;
    height: 750px;
    justify-content: center;
    margin-top: 150px;
    margin-right: 120px;
  }
  .servicios-section .servicios-content .servicios-list .row-1 .servicio-group:nth-child(2) img {
    min-width: 100%;
    width: 100%;
    height: 80%;
    object-fit: cover;
    transform: tranlsate(-50%);
  }
  .servicios-section .servicios-content .servicios-list .row-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2vw;
  }
  .servicios-section .servicios-content .servicios-list .row-2 .servicio-group {
    overflow: hidden;
  }
  .servicios-section .servicios-content .servicios-list .row-2 .servicio-group:nth-child(1) {
    margin-top: -100px;
    width: 30%;
    height: 700px;
    margin-left: 120px;
  }
  .servicios-section .servicios-content .servicios-list .row-2 .servicio-group:nth-child(1) img {
    min-width: 100%;
    width: 100%;
    height: 80%;
    object-fit: cover;
    transform: tranlsate(-50%);
  }
  .servicios-section .servicios-content .servicios-list .row-2 .servicio-group:nth-child(2) {
    position: relative;
    width: 55%;
  }
  .servicios-section .servicios-content .servicios-list .row-2 .servicio-group:nth-child(2) img {
    min-width: 100%;
    width: 100%;
    height: 70%;
    object-fit: cover;
  }
  .servicios-section .servicios-content .servicios-list .row-2 .servicio-group:nth-child(2) .servicios-lorem {
    position: absolute;
    top: 0;
    width: 100%;
    color: white;
    padding: 0 1rem;
    font-size: 25px;
  }
  .servicios-section .servicios-content .servicios-list .servicio-group {
    display: flex;
    flex-direction: column;
  }
  .servicios-section .servicios-content .servicios-list .servicio-group img {
    cursor: pointer;
    position: relative;
    vertical-align: top;
  }
  .servicios-section .servicios-content .servicios-list .servicio-group .servicio-info h4 {
    color: #a42138;
    font-size: 15px;
  }
  .servicios-section .servicios-content .servicios-list .servicio-group .servicio-info p {
    margin-top: 5px;
    color: #3c3b3b;
    font-size: 15px;
  }
  .servicios-section .servicios-content .servicios-list .servicio-group:after {
    content: "";
    position: absolute;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
  }
  .servicios-section .servicios-content .servicios-list .servicio-group:hover:after {
    opacity: 1;
  }
}
@media screen and (min-width: 1024px) {
  .servicios-section .servicios-content {
    padding-top: 1rem;
  }
  .servicios-section .servicios-content h1 {
    color: #a42138;
    font-size: 150px;
  }
  .servicios-section .servicios-content .servicios-list .servicio-group .servicio-info h4 {
    color: #a42138;
    font-size: 25px;
  }
  .servicios-section .servicios-content .servicios-list .servicio-group .servicio-info p {
    margin-top: 5px;
    color: #3c3b3b;
    font-size: 15px;
  }
  .servicios-section .servicios-content .servicios-list .servicio-group .overlay {
    display: block;
  }
  .interes-section .interes-content a {
    font-size: 90px;
  }
  .contacto-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .contacto-section .contacto-container .contacto-content {
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    color: white;
    opacity: 0;
    animation: transitionIn 2s linear;
  }
  .contacto-section .contacto-container .contacto-content .form-content {
    width: 60%;
    padding: 0;
  }
  .contacto-section .contacto-container .contacto-content .form-content .form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 35px;
  }
  .contacto-section .contacto-container .contacto-content .form-content .form-group label {
    font-weight: 100;
  }
  .contacto-section .contacto-container .contacto-content .form-content .form-group input, .contacto-section .contacto-container .contacto-content .form-content .form-group textarea {
    background-color: transparent;
    border-bottom: white 1px solid;
    border-top: none;
    border-right: none;
    border-left: none;
    color: white;
  }
  .contacto-section .contacto-container .contacto-content .form-content .form-group textarea {
    height: 80px;
  }
  .contacto-section .contacto-container .contacto-content .form-content .form-group input:focus, .contacto-section .contacto-container .contacto-content .form-content .form-group textarea:focus {
    outline: none;
  }
  .contacto-section .contacto-container .contacto-content .form-content .form-button-container {
    width: 100%;
    display: flex;
    justify-content: right;
  }
  .contacto-section .contacto-container .contacto-content .form-content .form-button-container img {
    width: 100px;
  }
  .contacto-section .contacto-container .contacto-content .form-content .form-button-container button {
    cursor: pointer;
    font-size: 40px;
    margin: 10px 0 10px 0;
    color: white;
    border: none;
    background-color: #025694;
  }
  .contacto-section .contacto-container .contacto-content .aside-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 30%;
    font-size: 25px;
  }
  .contacto-section .contacto-container .contacto-content .aside-content .info-group {
    width: 100%;
  }
  .contacto-section .contacto-container .contacto-content .aside-content .info-group h4 {
    font-weight: 500;
  }
  .contacto-section .contacto-container .contacto-content .aside-content .info-group .big-screen-info {
    display: block;
  }
  .contacto-section .contacto-container .contacto-content .aside-content .info-group .small-screen-info {
    display: none;
  }
  .contacto-section .contacto-container .contacto-content .aside-content .email-group h4 {
    display: block;
  }
  .contacto-section .contacto-container .contacto-content .aside-content .email-group span {
    font-weight: 300;
  }
  .contacto-section .contacto-container .contacto-content .aside-content .telefono-group {
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
  }
  .contacto-section .contacto-container .contacto-content .aside-content .telefono-group h4 {
    display: block;
  }
  .contacto-section .contacto-container .contacto-content .aside-content .telefono-group span {
    font-weight: 300;
  }
  .contacto-section .contacto-container .contacto-content .aside-content .ubicacion-group .ubicacion-info {
    flex-direction: column;
  }
  .contacto-section .contacto-container .contacto-content .aside-content .ubicacion-group h4 {
    display: block;
  }
  .contacto-section .contacto-container .contacto-content .aside-content .ubicacion-group p {
    margin-right: 1px;
  }
  .contacto-section .reveal {
    transform: translateX(150px);
    opacity: 0;
    transition: all 1s ease;
  }
  .contacto-section .reveal.active {
    transform: translateX(0);
    opacity: 1;
  }
  footer {
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  footer .footer-content {
    margin: 0 auto;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  footer .footer-content .contact-info-side {
    text-align: left;
    border-bottom: 2px solid white;
    padding: 70px 0 100px 0;
    display: flex;
    justify-content: space-around;
  }
  footer .footer-content .contact-info-side span {
    font-weight: 100;
  }
  footer .footer-content .contact-info-side h3 {
    font-size: 60px;
  }
  footer .footer-content .contact-info-side img {
    align-items: right;
    display: block;
    width: 100px;
  }
  footer .footer-content .links-side {
    height: 100%;
    display: flex;
    align-items: center;
  }
  footer .footer-content .links-side .logo-footer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 30%;
  }
  footer .footer-content .links-side .logo-footer img {
    width: 200px;
  }
  footer .footer-content .links-side .links-footer {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
  }
  footer .footer-content .links-side .links-footer h4 {
    font-weight: 600;
    font-size: 30px;
  }
  footer .footer-content .links-side .links-footer p {
    text-decoration: none;
    font-size: 20px;
  }
  footer .footer-content .links-side .links-footer a {
    text-decoration: none;
    font-size: 20px;
  }
  footer .footer-content .links-side .links-footer .side-footer {
    width: 30%;
  }
  footer .footer-content .links-side .links-footer .menu-side-footer, footer .footer-content .links-side .links-footer .herramientas-side-footer {
    display: flex;
    flex-direction: column;
  }
  footer .footer-content .links-side .links-footer .menu-side-footer h4, footer .footer-content .links-side .links-footer .herramientas-side-footer h4 {
    margin-bottom: 12px;
  }
  footer .footer-content .links-side .links-footer .menu-side-footer span, footer .footer-content .links-side .links-footer .herramientas-side-footer span {
    display: none;
  }
  footer .copyright-side {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: white;
    padding: 0.2rem 1rem;
  }
  footer .copyright-side .copyright-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  footer .copyright-side .copyright-container p {
    font-size: 20px;
    color: #3c3b3b;
    margin: 0;
  }
  footer .copyright-side .copyright-container .mm-logo {
    display: flex;
    justify-content: right;
    align-items: flex-end;
    gap: 5px;
  }
  footer .copyright-side .copyright-container .mm-logo p {
    font-size: 15px;
  }
  footer .copyright-side .copyright-container .mm-logo img {
    width: 50px;
  }
}
@media screen and (min-width: 1920px) {
  .contacto-section .contacto-container .contacto-content .aside-content .info-group .big-screen-info {
    display: block;
  }
  .contacto-section .contacto-container .contacto-content .aside-content .info-group .small-screen-info {
    display: none;
  }
  .contacto-section .contacto-container .contacto-content .aside-content .email-group span {
    font-weight: 300;
  }
  .contacto-section .contacto-container .contacto-content .aside-content .telefono-group {
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
  }
  .contacto-section .contacto-container .contacto-content .aside-content .telefono-group span {
    font-weight: 300;
  }
  .contacto-section .contacto-container .contacto-content .aside-content .ubicacion-group .ubicacion-info {
    flex-direction: column;
  }
  .contacto-section .contacto-container .contacto-content .aside-content .ubicacion-group p {
    margin-right: 1px;
  }
}
@media screen and (min-height: 770px) {
  .contacto-section .contacto-container .contacto-content .aside-content .info-group .big-screen-info {
    display: block;
  }
  .contacto-section .contacto-container .contacto-content .aside-content .info-group .small-screen-info {
    display: none;
  }
  .contacto-section .contacto-container .contacto-content .aside-content .email-group span {
    font-weight: 300;
  }
  .contacto-section .contacto-container .contacto-content .aside-content .telefono-group {
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
  }
  .contacto-section .contacto-container .contacto-content .aside-content .telefono-group span {
    font-weight: 300;
  }
  .contacto-section .contacto-container .contacto-content .aside-content .ubicacion-group p {
    margin-right: 1px;
  }
}
@media screen and (min-height: 1368px) {
  .contacto-section .contacto-container .contacto-content .aside-content .info-group h4 {
    font-size: 50px;
  }
  .contacto-section .contacto-container .contacto-content .aside-content .info-group p {
    font-size: 35px;
  }
  .contacto-section .contacto-container .contacto-content .aside-content .info-group .big-screen-info {
    display: block;
  }
  .contacto-section .contacto-container .contacto-content .aside-content .info-group .small-screen-info {
    display: none;
  }
  .contacto-section .contacto-container .contacto-content .aside-content .email-group span {
    font-weight: 300;
  }
  .contacto-section .contacto-container .contacto-content .aside-content .telefono-group {
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
  }
  .contacto-section .contacto-container .contacto-content .aside-content .telefono-group span {
    font-weight: 300;
  }
  .contacto-section .contacto-container .contacto-content .aside-content .ubicacion-group .ubicacion-info {
    flex-direction: column;
  }
  .contacto-section .contacto-container .contacto-content .aside-content .ubicacion-group p {
    margin-right: 1px;
  }
}

/*# sourceMappingURL=style.css.map */
