// CURSOR EFFECT

.cursor {
    display: none;
}

@media screen and (min-width: 1024px) {

    .cursor {
        z-index: 99999;
        display: block;
        position: fixed;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;

        p {
            width: 100%;
            position: absolute;
            left: -50px;
            font-size: 20px;
            white-space: nowrap;
            margin-top: 28px;
            letter-spacing: 2px;
        }

        .cursor-special-text {
            display: none;
        }
    }
    
    
    nav {
        .content:hover ~ .cursor{
        background-color: #a42138;
    }
    }
    
    .hero {
        .hero-all-content{
            .hero-content:hover ~ .cursor {  
                background-color: #a42138;
        }
        }
    }
    
    .hero-menu:hover ~ .cursor {
        background-color: #a42138;
    }
    
    .about-section:hover ~ .cursor {
        background-color: white;         
    }
    
    .servicios-section:hover ~ .cursor {
        background-color: #a42138;         
    }

    
    .interes-section:hover ~ .cursor {
        background-color: #a42138;
    }

    
    .contacto-section:hover ~ .cursor {
        background-color: white;
    }
    
    .footer-content:hover ~ .cursor {
        background-color: white; 
    }

    .detalles-servicio-popup:hover ~ .cursor {
        background-color: white;
    }
    
}

//POPUP

    .detalles-servicio-popup {
        position: fixed;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        padding: 2rem 2rem;
        background-color: #a42138;
        visibility: hidden;
        opacity: 0;
        transition: 0.5s;
        overflow: hidden;
        z-index: 99999;

        span {
            font-family: sans-serif;
            font-weight: bold;
            position: absolute;
            top: 0;
            right: 0;
            margin: 1rem;
            cursor: pointer;
            font-size: 25px;
            width: 20px;height: 20px;
            color: white;
        }

        .carousel{
            position: relative;
            width: 100%;
            height: 100%;
        
        .slider {
            display: flex;
            height: 100%;
            width: 400%;

            section {

                flex-basis: 100%;
                justify-content: center;
                align-items: center;
                display: flex;
                flex-direction: column;
                text-align: center;

                .section-content {
                    color: white;
                    padding: 0 2rem;

                    h2 {
                        font-size: 2rem;
                        font-weight: 700;
                        text-transform: uppercase;
                        margin: 1rem 0;
                        user-select: none; 
                    }

                        p {
                            font-size: 20px;
                            color: white;
                            user-select: none;
                            width: 100%;
                            margin: 0 auto;
                            padding: 1rem 0 2rem 0;
                            line-height: 30px;
                        }
                }
            }
        }

        .left, .right {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
          }
          .sucursal__arrow i{
            color: white;
            cursor:pointer;
            font-size: 1.7rem;
        }
        .left {
            left: -20px;
          }
          .right {
            right: -20px;
          }
          .control ul {
            list-style: none;
            display: flex;
            position: absolute;
            bottom: 0;
            left: 50%;
            margin: 0;
            padding: 0;
            transform: translate(-50%);
          }
          .control ul li {
            width: 10px;
            height: 10px;
            background: white;
            border: 2px solid white;
            border-radius: 50px;
            margin: 10px;
            cursor: pointer;
          }
          .control ul li.selected {
            background: transparent;
          }

    }
}
        

        /*.contenido-popup {

            width: 100%;
            position: relative;
            text-align: center;
            
            h2 {
                width: 100%;
                text-align: center;
                font-size: 1.8rem;
                font-weight: 700;
                text-transform: uppercase;
                margin: 1rem 0;
                user-select: none;
                color: white;
            }
        
            p {
                font-size: 25px;
                color: white;
                user-select: none;
                width: 100%;
                margin: 0 auto;
                padding-top: 1rem;
                line-height: 30px;
            }
        }
    }
    }*/
    
    .detalles-servicio-popup.active {
        top: 50%;
        visibility: visible;
        opacity: 1;
        transition: 0.5s;
    }
