// CURSOR EFFECT

.cursor {
    display: none;
}

@media screen and (min-width: 1024px) {

    .cursor {
        z-index: inherit;
        display: block;
        position: fixed;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;

        p {
            width: 100%;
            position: absolute;
            left: -50px;
            font-size: 20px;
            white-space: nowrap;
            margin-top: 28px;
            letter-spacing: 2px;
        }

        .cursor-special-text {
            display: none;
        }
    }
    
    
    nav {
        .content:hover ~ .cursor{
        background-color: #a42138;
    }
    }
    
    .hero {
        .hero-all-content{
            .hero-content:hover ~ .cursor {  
                background-color: #a42138;
        }
        }
    }
    
    .hero-menu:hover ~ .cursor {
        background-color: #a42138;
    }
    
    .about-section:hover ~ .cursor {
        background-color: white;         
    }
    
    .servicios-section:hover ~ .cursor {
        background-color: #a42138;         
    }

    
    .interes-section:hover ~ .cursor {
        background-color: #a42138;
    }

    
    .contacto-section:hover ~ .cursor {
        background-color: white;
    }
    
    .footer-content:hover ~ .cursor {
        background-color: white; 
    }
    
}

