h1, h2, h3, h4 {
    margin: 0;
}

.section {
    height: 100vh;
    width: 100%;
}

// MOBILE
    
    header {
                
        .hero {
            height: 100%;
            width: 100%;
            position: relative;
            
            .hero-all-content {
                animation: transitionIn 1s ease-in-out;


                @keyframes transitionIn {
                    from {
                        opacity: 0;
                    }
                
                
                
                    to {
                        opacity: 1;
                    }
                }
            }

            nav {

                .content {
                    max-width: 1200px;
                    margin: 0 auto;
                    display: flex;
                    justify-content:space-between;
                    align-items: center;
                }

                img {
                    padding: 10px;
                    width: 80px;
                }

                .nav-right {

                    display: flex;
                    align-items: center;
                    gap: 10px;


                    .nav-info {

                        line-height: 3px;
                        text-align: right;

                        p {
                            font-size: 15px;
                            color: #a42138;
                        }
                    }
                    

                    i {
                        font-size: 2rem;
                    }

                }
            }
        }

        .hero-content {
            color: #3c3b3b;
            border: 1px solid green;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h1 {
                
                font-size: 5rem;
                margin: 0;
            }

            .hero-subtitle {

                display: flex;

                h2 {
                    color: #a42138;
                }
            }

        }

        .hero-arrow {
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            text-align: center;
            padding-bottom: 2rem;
        }
    }

    .hero::before {
        content: "";
        background-image: url(../img/mainwallpaper.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.2; 
    }


    .about-section {
        position: relative;
        height: 100%;
        width: 100%;
        background-color: #a42138;
        overflow: hidden;

        .bubble-effect-images {

            img {
                position: absolute;
                bottom: -5%;
                width: 100px;
                opacity: 0;
                animation: bubble 15s linear infinite;
            }

            .faro-image {
                left: -15%;
                animation-delay: 1s;
            }

            .brujula-image {
                left: 15%;
                animation-delay: 5s;
            }

            .marinero-image {
                left: 35%;
                animation-delay: 10s;
            }

            .elice-image {
                left: 60%;
                animation-delay: 15s;
            }

            .ancla-image {
                left: 80%;
                animation-delay: 20s;
            }

            @keyframes bubble {
                0% {
                    opacity: 0;
                }

                10% {
                 opacity: 1;   
                }

                100% {
                    bottom: 100vh;
                }
            }
        }

        .about-content {
            position: absolute;
            top: -10%;
            max-width: 800px;
            height: 100%;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            line-height: 30px;


            h4 {
                color: white;
            }

            .about-aside-text {
                position: absolute;
                bottom: 0;
                right: 0;
                padding: 1rem;
                text-align: right;
                line-height: 20px;

                p {
                    margin: 0;
                }

                p:last-child {
                    color: white;
                }
            }
        }

        .reveal {
            transform: translateX(150px);
            opacity: 0;
            transition: all 2s ease;
        }

        .reveal.active {
            transform: translateX(0);
            opacity: 1;
        }
    }

    .servicios-section {

        border: red solid 1px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: end;

        .servicios-content {

            display: none;

            p {
                color: red;
            }

            a {
                color: rgb(54, 54, 54);
                text-decoration: none;
            }
        }
    }

    .contacto-section {
        background-color: #025694;
        height: 100%;
        overflow: hidden;

        .contacto-content {
            max-width: 1200px;
            margin: 0 auto;
            padding: 1rem;  
            color: white;  
            opacity: 0;
            animation: transitionIn 2s linear;
            

            .contacto-title {
                line-height: 1px;
            }

            .form-content {
                padding: 25px 0 05px 0;
                
                .form-group {
                    display: flex;
                    flex-direction: column;
                    gap: 3px;
                    margin-bottom: 15px;

                    input, textarea {
                        background-color: transparent;
                        border-bottom: white 1px solid;
                        border-top: none;
                        border-right: none;
                        border-left: none;
                    }

                    textarea {
                        height: 80px;
                    }
                }

                .form-button-container {
                    width:100%;
                    display: flex;
                    justify-content: right;

                    img {
                        width: 50px;
                    }

                    button {
                        margin: 10px 0 10px 0;
                        color: white;
                        border: none;
                        background-color: #025694;
                    }
                }         
            }

            .aside-content {

                font-size: 14px;
                line-height: 10px;

                .info-group {
                    width: 100%;
                    display: flex;
                    align-items: center;                    
                }

                .telefono-group {

                    margin: 0;
                    padding: 0;
                    flex-direction: column;
                    align-items: flex-start;
                    
                    

                    h4 {
                        display: none;
                    }

                }

                .ubicacion-group {
                    
                    h4 {
                        display: none;
                    }

                    p {
                        margin-right: 1px;
                    }
                }

            }
        }

        .reveal {
            transform: translateX(150px);
            opacity: 0;
            transition: all 2s ease;
        }

        .reveal.active {
            transform: translateX(0);
            opacity: 1;
        }

    }

    footer {
        position: relative;
        height: 100%;
        background-color: #a42138;

        p, a {
            font-weight: 100;
            color: white;
        }
        
        .footer-content {
            height: 100%;
            padding: 0 1rem;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .contact-info-side {
                text-align: center;
                border-bottom: 2px solid white;
                padding: 10px 0;
                margin-bottom: 20px;

                span {
                    font-weight: 100;
                    font-size: 13px;
                }
            }

            .links-side {
                
                .logo-footer {

                    display: flex;
                    justify-content: center;
                    margin-bottom: 20px;

                    img {
                        width: 150px;
                    }
                }

                .links-footer {

                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                        
                    h4 {
                        font-weight: 600;
                    }

                    a {
                        text-decoration: none;
                    }    

                    .menu-side-footer, .herramientas-side-footer {
                        h4 {
                            margin-bottom: 12px;
                        }
                    }
                }
            }
        }

        .copyright-side {

            width: 100%;
            
            
            background-color: white;
            padding: .2rem 1rem;

            p {
                font-size: 13px;
                color: #3c3b3b;
                margin: 0;
            }

            .mm-logo {

                display: flex;
                justify-content: right;
                align-items: flex-end;
                gap: 5px;

                img {
                    width: 50px;
                }

            }
        }

    }

    //TABLET

    @media screen and (min-width: 481px) {
        .about-section {
            .about-content {
                font-size: 30px;
                line-height: normal;

                .about-aside-text {
                    line-height: normal;
    
                    p {
                        margin: 0;
                    }
    
                    p:last-child {
                        color: white;
                    }
                }
            }

        }
    }