h1, h2, h3, h4 {
    margin: 0;
}

.section {
    height: 100vh;
    width: 100%;
}

.hidden-section-active{
    display: none;
}

// MOBILE
    
    header {

        z-index: 9999;
        transition: 0.9s;

        nav {

            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 9999;
            transition: 0.7s;

            .content {
                width: 90%;
                padding: 10px;
                margin: 0 auto;
                display: flex;
                justify-content:space-between;
                align-items: center;
                transition: 0.7s;
            }

            img {
                transition: 0.7s;
                width: 80px;
                cursor: pointer;
            }

            .nav-right {

                transition: 0.7s;
                display: flex;
                align-items: center;
                gap: 10px;
                overflow: hidden;
                


                .nav-info {

                    line-height: 3px;
                    text-align: right;

                    p {
                        font-size: 15px;
                        color: #a42138;
                    }
                }
                

                .menu-icon{
                    width: 50px;
                }

                .menu-icon:hover {
                    cursor: pointer;
                }

            }
        }

        .nav-down {

            background-color: white;
            
            padding: 5px 0;

            img {
                width: 75px;
            }

                .nav-right {
    
                    .nav-info {
    
                        p {
                            font-size: 13px;
                            color: #a42138;
                        }
                    }
                    
    
                    .menu-icon{
                        width: 40px;
                    }
    
                    .menu-icon:hover {
                        cursor: pointer;
                    }
    
                }
        }

        .nav-disabled {
            top: -120px;
        }
                
        .hero {
            position: relative;
            height: 100%;
            width: 100%;
            background-image: url(../img/FLORES-LUIS-AGOSTO-2021-1.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            overflow: hidden;


            .hero-menu {
                z-index: 9999;
                height: 100%;
                width: 90%;
                margin: 0 auto;
                display: none;
                text-align: right;
                

                .menu-container {
                    width: 100%;
                    animation: transitionIn .5s ease-in-out;


                @keyframes transitionIn {
                    from {
                        opacity: 0;
                    }
                
                
                
                    to {
                        opacity: 1;
                    }
                } 

                    width: 100%;

                    ul {
                        list-style: none;

                        li {
                            transition: all ease-in .3s;
                            font-size: 40px;
                            margin-bottom: 15px;
                            cursor: pointer;
                        }


                        a {
                            text-decoration: none;
                            font-weight: 500;
                            color: #3c3b3b;
                            transition: all ease-in .1s;
                        }

                        a:hover {
                            color: #a42138;
                        }
                    }
                }
            }

            .menu-active {
                display: flex;
                align-items: center;

                .menu-container {
                    display: flex;
                    justify-content: flex-end;
                }
            }
            
            .hero-all-content {

                animation: transitionIn .5s ease-in-out;


                @keyframes transitionIn {
                    from {
                        opacity: 0;
                    }
                
                
                
                    to {
                        opacity: 1;
                    }
                } 

        .hero-content {
            user-select: none;
            color: #3c3b3b;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            line-height: 50px;

            h1 {
                
                font-size: 5rem;
                margin: 0;
            }

            .hero-subtitle {

                display: flex;

                h2 {
                    color: #a42138;
                    font-size: 30px;
                }
            }

        }

        .hero-arrow {
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            text-align: center;
            padding-bottom: 2rem;

            img {
                cursor: pointer;
                width: 50px;
                color: #3c3b3b;
            }
        }
    }
}

    .menu-active-background::before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: black;
        position: absolute;
        top: 0;
        left: 0;
        opacity: .2;
        transition: all ease .7s;
    }

    .menu-mode {
        display: none;
    }

    }

    /*.hero::before {
        content: "";
        background-image: url(../img/mainwallpaper.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.2; 
    }*/


    .about-section {
        position: relative;
        height: 100%;
        width: 100%;
        background-color: #a42138;
        overflow: hidden;

        .bubble-effect-images {

            img {
                position: absolute;
                bottom: -5%;
                width: 150px;
                opacity: 0;
                animation: bubble 15s linear infinite;
            }

            .faro-image {
                left: -15%;
                animation-delay: 1s;
            }

            .brujula-image {
                left: 15%;
                animation-delay: 5s;
            }

            .marinero-image {
                left: 35%;
                animation-delay: 10s;
            }

            .elice-image {
                left: 60%;
                animation-delay: 15s;
            }

            .ancla-image {
                left: 80%;
                animation-delay: 20s;
            }

            @keyframes bubble {
                0% {
                    opacity: 0;
                }

                10% {
                 opacity: 1;   
                }

                100% {
                    bottom: 100vh;
                }
            }
        }

        .about-content {
            position: absolute;
            top: -10%;
            height: 100%;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            line-height: 30px;


            h4 {
                color: white;
            }

            .about-aside-text {
                position: absolute;
                bottom: 0;
                right: 0;
                padding: 1rem;
                text-align: right;
                line-height: 20px;

                p {
                    margin: 0;
                }

                p:last-child {
                    color: white;
                }
            }
        }

        .reveal {
            transform: translateX(150px);
            opacity: 0;
            transition: all 2s ease;
        }

        .reveal.active {
            transform: translateX(0);
            opacity: 1;
        }
    }

    .servicios-section {

        .servicios-content {

            margin: 0 auto;
            padding: 8rem 1rem 0 1rem;
            
            h1 {
                color: #a42138;
                font-size: 60px;
                margin: 0;
            }
           
            .servicios-list {

                margin: 0 auto;

                .row-1 {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 15vw;

                    .servicio-group:nth-child(1) {
                    
                        position: relative;
                        display: flex;
                        justify-content: flex-end;
                        width: 100%;
                        height: 100%;

                            img {
                                min-width: 100%;
                                max-width: 100%;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                transform: tranlsate(-50%);
                            }
    
                            h1 {
                                position: absolute;
                                top: 100px;
                                z-index: -1;
                            }

                        /*.servicio-img-container:after {
                            content: '\A';
                            position: absolute;
                            width: 100%;
                            height:100%;
                            top: 0;
                            left:0;
                            background:rgba(0,0,0,0.6);
                            opacity: 1;
                            transition: all 1s;
                            -webkit-transition: all 1s;
                        }*/
                    }

                    .servicio-group:nth-child(2) {
                    
                        width: 100%;
                        height: 250px;
                        justify-content: center;

                        img {
                        min-width: 100%;
                        max-width: 100%;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transform: tranlsate(-50%);
                        }
                    }
                }

                .row-2 {
                    
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 2vw;

                    .servicio-group:nth-child(1) {
                    
                        width: 100%;
                        height: 100%;

                        img {
                            min-width: 100%;
                            max-width: 100%;
                            width: 100%;
                            height: 250px;
                            object-fit: cover;
                            transform: tranlsate(-50%);
                        }
                    }

                    .servicio-group:nth-child(2) {
                    
                        position: relative;
                        width: 100%;

                        img {
                            min-width: 100%;
                            max-width: 100%;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }

                        .servicios-lorem {
                            position: absolute;
                            top: 0;
                            width: 100%;
                            color: white;
                            padding: 0 1rem;
                            font-size: 25px;
                        }
                    }

                }

                .servicio-group {

                    display: flex;
                    flex-direction: column;

                    img {
                        cursor: pointer;
                        position: relative;
                        vertical-align:top;
                    }
                    
                    .servicio-info {

                            h4 {
                                color: #a42138;
                                font-size: 15px;
                            }

                            p{
                                margin-top: 5px;
                                color: #3c3b3b;
                                font-size: 15px;
                            }
                    }
                }

                .servicio-group:after {
                    content: '';
                    position: absolute;
                    left: 0;
                    background:rgba(0,0,0,0.6);
                    opacity: 0;
                    transition: all 1s;
                    -webkit-transition: all 1s;
                }

                .servicio-group:hover:after {
                    opacity: 1;
                }
            }   

        }
    }

    .interes-section {

        position: relative;
        height: 100%;
        display: flex;
        align-items: center;

        .interes-content {

            position: relative;
            padding: 0 .5rem;

            a {
                font-size: 35px;
                color: #3c3b3b;
                text-decoration: none;
            }

            a:nth-child(1) {
                color: #a42138;
            }

            a:hover {
                color: #a42138;
                text-decoration: underline;
            }
        }
    }

    .contacto-section {
        position: relative;
        background-color: white;
        height: 100%;
        overflow: hidden;
        display: flex;
        align-items: flex-end;

        .contacto-container {
            height: 82%;
            width: 100%;
            background-color: #025694;

        .contacto-content {
            margin: 0 auto;
            padding: .2rem 1rem;  
            color: white;  
            opacity: 0;
            animation: transitionIn 2s linear;

            .form-content {
                padding: 20px 0 0 0;
                
                .form-group {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    margin-bottom: 15px;

                    label {
                        font-weight: 100;
                    }

                    input, textarea {
                        background-color: transparent;
                        border-bottom: white 1px solid;
                        border-top: none;
                        border-right: none;
                        border-left: none;
                        color: white;
                    }

                    textarea {
                        height: 50px;
                        font-size: 17px;
                    }

                    input:focus, textarea:focus {
                        outline: none;
                    }
                }

                .form-button-container {
                    width:100%;
                    display: flex;
                    justify-content: right;

                    img {
                        width: 50px;
                    }

                    button {
                        margin: 10px 0 10px 0;
                        color: white;
                        border: none;
                        background-color: #025694;
                    }
                }         
            }

            .aside-content {
                font-size: 17px;
                line-height: 5px;

                .info-group {
                    width: 100%;
                    display: flex; 

                    h4 {
                        display: none;
                    }

                    span {
                        font-weight: 500;
                        font-size: 17px;
                    }

                    p {
                        font-size: 17px;
                    }

                    a {
                        text-decoration: none;
                        line-height: 25px;
                        font-size: 20px;
                        color: white;
                    }

                    .big-screen-info {
                        display: none;
                    }
                }

                .telefono-group {

                    margin: 0;
                    padding: 0;
                    flex-direction: column;
                    align-items: flex-start;
                }

                .ubicacion-group {

                    .ubicacion-info {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        line-height: 11px;
                    }

                    p {
                        margin: 7px 5px 0 0;
                    }

                    .localidad-group {
                        display: flex;
                    }
                }

            }
        }
    }

        .reveal {
            transform: translateX(150px);
            opacity: 0;
            transition: all 1s ease;
        }

        .reveal.active {
            transform: translateX(0);
            opacity: 1;
        }

    }

    .contacto-title {
        position: absolute;
        top: 100px;
        left: 0;
        padding: 0 1rem;
        color: #025694;
        line-height: 35px;

        p {
            font-size: 10px;
            margin: 0;
        }

        h1 {
            margin: 0;
            font-size: 60px;
        }
    }

    footer {
        position: relative;
        height: 100%;
        background-color: #a42138;
        overflow: hidden;

        p, a {
            font-weight: 100;
            color: white;
        }
        
        .footer-content {
            height: 100%;
            padding: 0 1rem;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .contact-info-side {
                text-align: center;
                border-bottom: 2px solid white;
                padding: 10px 0;
                margin-bottom: 20px;

                span {
                    font-weight: 100;
                    font-size: 13px;
                }

                img {
                    display: none;
                }
            }

            .links-side {
                
                .logo-footer {

                    display: flex;
                    justify-content: center;
                    margin-bottom: 20px;

                    img {
                        width: 150px;
                    }
                }

                .links-footer {

                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                        
                    h4 {
                        font-weight: 600;
                    }

                    a {
                        text-decoration: none;
                    }  
                    
                    .side-footer {
                        line-height: 28px;

                        p{
                            margin: 0;
                        }
                    }

                    .multipar-side-footer, .menu-side-footer, .herramientas-side-footer {
                        h4 {
                            margin-bottom: 12px;
                        }
                    }
                }
            }

            .arrow-up-container {
                position: absolute;
                bottom: 5%;
                right: 5%;

                img {
                    width: 50px;
                }
            }

        }

        .copyright-side {

            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: white;
            padding: .2rem 1rem;

            .copyright-container{

                width: 100%;

                p {
                    font-size: 13px;
                    color: #3c3b3b;
                    margin: 0;
                }
    
                .mm-logo {
    
                    display: flex;
                    justify-content: right;
                    align-items: flex-end;
                    gap: 5px;
                    margin-right: 20px;
    
                    img {
                        width: 50px;
                    }
    
                } 
            }
            
        }

    }

    // LESS BIGGER

    @media screen and (min-width: 390px) {

        .contacto-section {

            .contacto-container {
            .contacto-content {
                .aside-content {

                    font-size: 17px;
                    line-height: 10px;
    
                    .info-group {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: left;
    
                        h4 {
                            display: none;
                        }
    
                        span {
                            font-weight: 500;
                        }
    
                        p {
                            font-size: 20px;
                        }

                        a {
                            line-height: 35px;
                        }
                    }
    
                    .telefono-group {
    
                        margin: 0;
                        padding: 0;
                        flex-direction: column;
                        align-items: flex-start;
                    }
    
                    .ubicacion-group {

                        .ubicacion-info {
                            display: flex;
                            flex-direction: column;
                            gap: 15px;
                            line-height: 11px;
                        }
    
                        p {
                            margin: 10px 5px 0 0;
                        }
    
                        .localidad-group {
                            display: flex;
                        }
                    }
    
                }
            }
        }
        }
    }


    @media screen and (min-width: 481px) {

        header {
            .hero {
                .hero-all-content {
                    .hero-content {

                        line-height: 65px;

                        h1 {
                            font-size: 100px;
                        }
                        .hero-subtitle {
                            h2 {
                                font-size: 40px;
                            }
                        }
                    }   
                }
            }
    
        }
        
        
        .about-section {

            .bubble-effect-images {
                img {
                    width: 250px;
                }
            }

            .about-content {
                font-size: 30px;
                line-height: normal;

                .about-aside-text {
                    line-height: normal;
    
                    p {
                        margin: 0;
                    }
    
                    p:last-child {
                        color: white;
                    }
                }
            }

        }

        .contacto-section {
            .contacto-content {
                .form-content {
                    label {
                        font-size: 20px;
                    }

                    input {
                        font-size: 20px;
                    }
                } 

                .aside-content {

                    font-size: 20px;
                    line-height: normal;
    
                    .info-group {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;   
                        justify-content: center;     
                        
                        h4 {
                            font-size: 27px;
                            font-weight: 500;
                            margin: 15px 0;
                        }

                        p {
                            margin: 0;
                        }
                    }

                    .email-group {

                        h4 {
                            font-size: 27px;
                            font-weight: 500;
                            margin: 15px 0;
                        }

                    }
    
                    .telefono-group {
    
                        margin: 0;
                        padding: 0;
                        flex-direction: column;
                        align-items: flex-start;
                        
                        
    
                        h4 {
                            font-size: 27px;
                            font-weight: 500;
                            margin: 15px 0;
                        }

                        p {
                            margin: 0;
                        }
    
                    }
    
                    .ubicacion-group {
                        
                        h4 {
                                font-size: 28px;
                                font-weight: 500;
                                margin: 15px 0;
                        }
    
                        p {
                            margin: 0;
                            margin-right: 1px;
                        }
                    }
    
                }

            }
        }

        .copyright-side {

            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: white;
            padding: .2rem 1rem;

            .copyright-container{

                width: 100%;

                p {
                    font-size: 25px;
                    color: #3c3b3b;
                    margin: 0;
                }
    
                .mm-logo {
    
                    display: flex;
                    justify-content: right;
                    align-items: flex-end;
                    gap: 5px;
                    margin-right: 20px;
                    
                    p {
                        font-size: 20px;
                    }
    
                    img {
                        width: 50px;
                    }
    
                } 
            }
            
        }

    }
    
    //TABLET

    @media screen and (min-width: 768px) {
        header {

            nav {
                img {
                    width: 200px;
                }

                .nav-right {

                    gap: 40px;

                    .nav-info {
                        p {
                            font-size: 30px;
                        }
                    }

                    .menu-icon{
                        width: 80px;
                    }

                }
            }

            .nav-down {

                background-color: white;
                
                padding: 5px 0;
    
                img {
                    width: 180px;
                }
    
                    .nav-right {
        
                        .nav-info {
        
                            p {
                                font-size: 25px;
                                color: #a42138;
                            }
                        }
                        
        
                        .menu-icon{
                            width: 70px;
                        }
        
                        .menu-icon:hover {
                            cursor: pointer;
                        }
        
                    }
            }

            .hero {

                .hero-menu {
                
                    z-index: 9999;
                    height: 100%;
                    display: none;
                    text-align: right;
                    
    
                    .menu-container {
    
                        ul {
                               
                            li {
                                transition: all ease-in .3s;
                                font-size: 70px;
                                margin-bottom: 15px;
                                cursor: pointer;
                            }
    
    
                            a {
                                text-decoration: none;
                                font-weight: 500;
                                color: #3c3b3b;
                                transition: all ease-in .1s;
                            }
    
                        }
                    }
                }

                .menu-active {
                    display: flex;
    
                    .menu-container {
                        display: flex;
                    }
                }

                .hero-all-content {
                    .hero-content {

                        line-height: 90px;

                        h1 {
                            font-size: 150px;
                        }
                        .hero-subtitle {
                            h2 {
                                font-size: 50px;
                            }
                        }
                    }   
                }
            }
    
        }

        .interes-section {

            width: 100%;
            height: 100%;
            
    
            .interes-content {
    
                margin: 0 auto;


                a {
                    font-size: 60px;
                    color: #3c3b3b;
                    text-decoration: none;
                }
    
                a:nth-child(1) {
                    color: #a42138;
                }
    
                a:hover {
                    color: #a42138;
                    text-decoration: underline;
                }
            }    
        }

        .contacto-section {
            .contacto-container{
            .contacto-content {
                
                .form-content {
                    label {
                        font-size: 25px;
                    }

                    input {
                        font-size: 20px;
                        height: 40px;
                    }

                    .form-button-container {
                           
                        img {
                            width: 100px;
                        }
    
                        button {
                            margin: 10px 0 10px 0;
                            color: white;
                            border: none;
                            background-color: #025694;
                            font-size: 30px;
                        }
                    }    
                } 

                .aside-content {

                    line-height: normal;
                    font-size: 28px;
    
                    .info-group {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;   
                        justify-content: center;     
                        
                        h4 {
                            font-size: 35px;
                            font-weight: 500;
                            margin: 15px 0;
                        }

                        p {
                            margin: 0;
                            font-size: 25px;
                        }

                        a {
                            line-height: 35px;
                            font-size: 25px;
                        }

                        span {
                            font-size: 25px;
                        }
                    }
    
                    .telefono-group {
    
                        margin: 0;
                        padding: 0;
                        flex-direction: column;
                        align-items: flex-start;
                        
                        
    
                        h4 {
                            font-size: 30px;
                            font-weight: 500;
                            margin: 15px 0;
                        }

                        p {
                            margin: 0;
                        }
    
                    }
    
                    .ubicacion-group {

                        display: flex;
                        
                        h4 {
                                font-size: 30px;
                                font-weight: 500;
                                margin: 10px 0;
                        }
    
                        p {
                            margin: 0;
                            margin-right: 1px;
                        }


                        .ubicacion-info {
                            display: flex;
                            flex-direction: row;
                            gap: 5px;
                            line-height: normal;
                        }
                    }
    
                }

            }                    
        }
        }

        .contacto-title {
            position: absolute;
            top: 220px;
            left: 0;
            padding: 0 1rem;
            color: #025694;
            line-height: 70px;
    
            p {
                font-size: 25px;
                margin: 0;
            }
    
            h1 {
                margin: 0;
                font-size: 150px;
            }
        }

        footer {

        .footer-content {
            height: 100%;
            padding: 0 1rem;
            color: white;
            display: flex;
            flex-direction: column;
            

            .contact-info-side {
                text-align: left;
                border-bottom: 2px solid white;
                padding: 20px 0;
                margin-bottom: 30px;

                span {
                    font-weight: 100;
                    font-size: 20px;
                }

                h3 {
                    font-size: 30px;
                }
            }

            .links-side {
                
                .logo-footer {

                    display: flex;
                    justify-content: center;
                    margin-bottom: 20px;

                    img {
                        width: 200px;
                    }
                }

                .links-footer {

                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                        
                    h4 {
                        font-weight: 600;
                        font-size: 40px;
                    }

                    p {
                        text-decoration: none;
                        font-size: 25px;
                    }

                    a {
                        text-decoration: none;
                        font-size: 30px;
                    }    

                    .menu-side-footer, .herramientas-side-footer {
                        h4 {
                            margin-bottom: 12px;
                        }
                    }
                }
            }
        }
    }
    }

    @media screen and (min-width: 768px) {
        header {
            .hero {
                .hero-all-content {
                    .hero-content {

                        line-height: 115px;

                        h1 {
                            font-size: 200px;
                        }
                        .hero-subtitle {
                            h2 {
                                font-size: 60px;
                            }
                        }
                    }   
                }
            }
    
        }

        .about-section {

            display: flex;
            justify-content: center;


            .bubble-effect-images {
                width: 100%;
                img {
                    width: 280px;
                }
            }

            .about-content {
                text-align: left;
                font-size: 35px;
                line-height: normal;

                h4 {
                    width: 70%;
                }

                span {
                    color: black;
                }

                .about-aside-text {
                    line-height: normal;
    
                    p {
                        margin: 0;
                    }
    
                    p:last-child {
                        color: white;
                    }
                }
            }

        }

        .servicios-section {
        
            .servicios-content {
    
                margin: 0 auto;
                padding: 0 1rem;
                
                h1 {
                    color: #a42138;
                    font-size: 50px;
                    margin: 0;
                }
               
                .servicios-list {
    
                    margin: 0 auto;
    
                    .row-1 {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        gap: 2vw;

                        .servicio-group {
                            overflow: hidden;
                        }
    
                        .servicio-group:nth-child(1) {
                        
                            position: relative;
                            display: flex;
                            justify-content: flex-end;
                            width: 55%;
                            height: 700px;
    
                                img {
                                    min-width: 100%;
                                    width: 100%;
                                    height: 70%;
                                    object-fit: cover;
                                    transform: tranlsate(-50%);
                                }
        
                                h1 {
                                    position: absolute;
                                    top: 100px;
                                    z-index: -1;
                                }
    
                            /*.servicio-img-container:after {
                                content: '\A';
                                position: absolute;
                                width: 100%;
                                height:100%;
                                top: 0;
                                left:0;
                                background:rgba(0,0,0,0.6);
                                opacity: 1;
                                transition: all 1s;
                                -webkit-transition: all 1s;
                            }*/
                        }
    
                        .servicio-group:nth-child(2) {
                        
                            width: 25%;
                            height: 750px;
                            justify-content: center;
                            margin-top: 150px;
                            margin-right: 120px;
    
                            img {
                            min-width: 100%;
                            width: 100%;
                            height: 80%;
                            object-fit: cover;
                            transform: tranlsate(-50%);
                            }
                        }
                    }
    
                    .row-2 {
                        
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        gap: 2vw;

                        .servicio-group {
                            overflow: hidden;
                        }
    
                        .servicio-group:nth-child(1) {
                        
                            margin-top: -100px;
                            width: 25%;
                            height: 700px;
                            margin-left: 120px;
    
                            img {
                                min-width: 100%;
                                width: 100%;
                                height: 80%;
                                object-fit: cover;
                                transform: tranlsate(-50%);
                            }
                        }
    
                        .servicio-group:nth-child(2) {
                        
                            position: relative;
                            width: 55%;
    
                            img {
                                min-width: 100%;
                                width: 100%;
                                height: 70%;
                                object-fit: cover;
                            }
    
                            .servicios-lorem {
                                position: absolute;
                                top: 0;
                                width: 100%;
                                color: white;
                                padding: 0 1rem;
                                font-size: 25px;
                            }
                        }
    
                    }
    
                    .servicio-group {
    
                        display: flex;
                        flex-direction: column;
    
                        img {
                            cursor: pointer;
                            position: relative;
                            vertical-align:top;
                        }
                        
                        .servicio-info {
    
                                h4 {
                                    color: #a42138;
                                    font-size: 15px;
                                }
    
                                p{
                                    margin-top: 5px;
                                    color: #3c3b3b;
                                    font-size: 15px;
                                }
                        }
                    }
    
                    .servicio-group:after {
                        content: '';
                        position: absolute;
                        left: 0;
                        background:rgba(0,0,0,0.6);
                        opacity: 0;
                        transition: all 1s;
                        -webkit-transition: all 1s;
                    }
    
                    .servicio-group:hover:after {
                        opacity: 1;
                    }
                }   
    
            }
        }

    }

    @media screen and (min-width: 1024px) {

        .servicios-section {
    
            .servicios-content {

                padding-top: 1rem;
    
                h1 {
                    color: #a42138;
                    font-size: 150px;
                }
               
                .servicios-list {
    
                        .servicio-group {                             
                            
                            .servicio-info {
                                   
        
                                    h4 {
                                        color: #a42138;
                                        font-size: 25px;
                                    }
        
                                    p{
                                        margin-top: 5px;
                                        color: #3c3b3b;
                                        font-size: 15px;
                                    }
                            }
                    }
                    
                }   
            }
        }

        .interes-section {            
    
            .interes-content {

                a {
                    font-size: 90px;
                }
            }
        }

        .contacto-section {
                
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            
            .contacto-container {
            .contacto-content {
                width: 100%;
                margin: 0 auto;
                padding: 1rem;  
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 100px;
                color: white;  
                opacity: 0;
                animation: transitionIn 2s linear;
    
                .form-content {
                    width: 60%;
                    padding: 0;
                    
                    .form-group {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        margin-bottom: 35px;
    
                        label {
                            font-weight: 100;
                        }
    
                        input, textarea {
                            background-color: transparent;
                            border-bottom: white 1px solid;
                            border-top: none;
                            border-right: none;
                            border-left: none;
                            color: white;
                        }
    
                        textarea {
                            height: 80px;
                        }
    
                        input:focus, textarea:focus {
                            outline: none;
                        }
                    }
    
                    .form-button-container {
                        width:100%;
                        display: flex;
                        justify-content: right;
    
                        img {
                            width: 100px;
                        }
    
                        button {
                            cursor: pointer;
                            font-size: 40px;
                            margin: 10px 0 10px 0;
                            color: white;
                            border: none;
                            background-color: #025694;
                        }
                    }         
                }
    
                .aside-content {
                    
                    display: flex;
                    flex-direction: column;
                    gap: 25px;
                    width: 30%;
                    font-size: 25px;
    
                    .info-group {
                        width: 100%;

                        h4 {
                            font-weight: 500;
                        }

                        .big-screen-info {
                            display: block;
                        }

                        .small-screen-info {
                            display: none;
                        }

                    }
    
                    .email-group {
                        
                        h4 {
                            display: block;
                        }
    
                        span {
                            font-weight: 300;
                        }
                    }
    
                    .telefono-group {
    
                        margin: 0;
                        padding: 0;
                        flex-direction: column;
                        align-items: flex-start;

                        h4 {
                            display: block;
                        }
    
    
                        span {
                            font-weight: 300;
                        }
    
                    }
    
                    .ubicacion-group {

                        .ubicacion-info {
                            flex-direction: column;
                        }

                        h4 {
                            display: block;
                        }

                        p {
                            margin-right: 1px;
                        }
                    }
                }
            }                 
        }
    
            .reveal {
                transform: translateX(150px);
                opacity: 0;
                transition: all 1s ease;
            }
    
            .reveal.active {
                transform: translateX(0);
                opacity: 1;
            }
    
        }

        footer {

            padding: 0;
            margin: 0;
            overflow: hidden;

            .footer-content {

                margin: 0 auto;
                height: 100%;
                color: white;
                display: flex;
                flex-direction: column;
                align-items: stretch;
                
    
                .contact-info-side {
                    text-align: left;
                    border-bottom: 2px solid white;
                    padding: 70px 0 100px 0;
                    display: flex;
                    justify-content: space-around;
    
                    span {
                        font-weight: 100;
                    }
    
                    h3 {
                        font-size: 60px;
                    }

                    img {
                        align-items: right;
                        display: block;
                        width: 100px;
                    }
                }
    
                .links-side {

                    height: 100%;
                    display: flex;
                    align-items: center;
                    
                    .logo-footer {
    
                        display: flex;
                        justify-content: center;
                        margin-bottom: 20px;
                        width: 30%;
    
                        img {
                            width: 200px;
                        }
                    }
    
                    .links-footer {
    
                        width: 70%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        gap: 15px;
                            
                        h4 {
                            font-weight: 600;
                            font-size: 30px;
                        }
    
                        p {
                            text-decoration: none;
                            font-size: 20px;
                        }
    
                        a {
                            text-decoration: none;
                            font-size: 20px;
                        }    

                        .side-footer {
                            width: 30%;
                        }
    
                        .menu-side-footer, .herramientas-side-footer {
                            h4 {
                                margin-bottom: 12px;
                            }

                            display: flex;
                            flex-direction: column;

                            span {
                                display: none;
                            }
                        }
                    }
                }
            }

            .copyright-side {

                position: absolute;
                bottom: 0;
                width: 100%;
                
                
                background-color: white;
                padding: .2rem 1rem;

                .copyright-container {
                    margin: 0 auto;
                    display: flex;
                    justify-content: space-between;

                    p {
                        font-size: 20px;
                        color: #3c3b3b;
                        margin: 0;
                    }

                    .mm-logo {
    
                        display: flex;
                        justify-content: right;
                        align-items: flex-end;
                        gap: 5px;

                        p {
                            font-size: 15px;
                        }
        
                        img {
                            width: 50px;
                        }
        
                    }
                }
    
                
            }

        }
    
    }

    @media screen and (min-width: 1920px) {

        .contacto-section {
            .contacto-container {
            .contacto-content {
                .aside-content {
    
                    .info-group {

                        .big-screen-info {
                            display: block;
                        }

                        .small-screen-info {
                            display: none;
                        }

                    }
    
                    .email-group {
                        
    
                        span {
                            font-weight: 300;
                        }
                    }
    
                    .telefono-group {
    
                        margin: 0;
                        padding: 0;
                        flex-direction: column;
                        align-items: flex-start;
    
    
                        span {
                            font-weight: 300;
                        }
    
                    }
    
                    .ubicacion-group {

                        .ubicacion-info {
                            flex-direction: column;
                        }

                        p {
                            margin-right: 1px;
                        }
                    }
                }
            }                 
        }
        }

    }

    @media screen and (min-height: 770px) {
        .contacto-section {
            .contacto-container {
            .contacto-content {
                .aside-content {
                    
                    
    
                    .info-group {

                        .big-screen-info {
                            display: block;
                        }

                        .small-screen-info {
                            display: none;
                        }

                    }
    
                    .email-group {
                        
    
                        span {
                            font-weight: 300;
                        }
                    }
    
                    .telefono-group {
    
                        margin: 0;
                        padding: 0;
                        flex-direction: column;
                        align-items: flex-start;
    
    
                        span {
                            font-weight: 300;
                        }
    
                    }
    
                    .ubicacion-group {
                        p {
                            margin-right: 1px;
                        }
                    }
                }
            }                      
        }
        }
    }

    @media screen and (min-height: 1368px) {
        .contacto-section {
            .contacto-container {
            .contacto-content {
                .aside-content {

                    .info-group {

                        h4 {
                            font-size: 50px;
                        }

                        p {
                            font-size: 35px;
                        }

                        .big-screen-info {
                            display: block;
                        }

                        .small-screen-info {
                            display: none;
                        }

                    }
    
                    .email-group {
                        
    
                        span {
                            font-weight: 300;
                        }
                    }
    
                    .telefono-group {
    
                        margin: 0;
                        padding: 0;
                        flex-direction: column;
                        align-items: flex-start;
    
    
                        span {
                            font-weight: 300;
                        }
    
                    }
    
                    .ubicacion-group {

                        .ubicacion-info {
                            flex-direction: column;
                        }

                        p {
                            margin-right: 1px;
                        }
                    }
                }
            }                   
        }
        }
    }